.work-head{
    @include dark-background($head-bg);
}
.work-bg{
    @extend .latest-bg;
    a{
        display: block;
        &:hover,
        &:focus{
            text-decoration: none;
        }
    }
}
article.post{
    margin-bottom: 60px;
    span{
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        color: $link-color;
        margin-top: 15px;
    }
}

