//colors
$light-grey: #666766;
$dark-grey: #414142;

$brown: #414142;
$secontary-brown: #333;
$dark-brown: #282828;
$black-brown: #1e1e1e;

$cream: #edecec;
$dark-ceam: #cecbcb;

$main-blue: #66c8cf;
$white: #ffffff;




// p color
$text-color: $light-grey;

//header color
$headings-color: $dark-grey;
$title-header-color: $white;
$service-header-color: $white;


 //bg color
$body-bg: $brown;

$head-bg: $dark-grey;

$section-bg: $cream;
$secont-bg: $dark-ceam;
$darkest-bg: $black-brown;
$blog-bg: $white;
$service-box-bg: $brown;

$footer-bg: $dark-brown;
$footer-secont-bg: $secontary-brown;

$border-color: #ddd;
$tab-border-color: $secontary-brown;
//line footer color
$line-color: $white;


//links
//a main color
$link-color: $main-blue;
//a hover color
// $link-hover-color
$menu-link-color : $secontary-brown;


//typography
$font-family-base: 'Open Sans Condensed', sans-serif;
$font-size-base: 17px